<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @site_contact %>,</h1>
    <h3>Work order #<%= @internal_id %></h3>
    <p>
      The work order is ready to verify.  
    </p>
    <p><%= @client_name %></p>
    <p><%= @client_address %></p>
    <p>Regards!</p>
  </body>
</html>